
.idea/vcs.xml
.idea/modules.xml
.idea/treeviewingthing.iml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/.DS_Store
__pycache__/test_message_list.cpython-311.pyc
__pycache__/sample_data.cpython-311.pyc
.DS_Store
